#hero{

    & header{
        justify-content: space-between;
        margin-top: 3.5rem;
        margin-inline: 2.5rem;

        & img{
            max-width: 16rem;
            height: auto;
        }
    }
}


